body {
  background: #000 url(background.png) left top no-repeat;
  background-size: 100%;
  color: #fff;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.nav {
  position: absolute;
  padding-left: 0;
  width: 300px;
}
.nav a {
  display: block;
}

.content {
  position: absolute;
  left: 350px;
  right: 2%;
  text-align: justify;
  font-family: chessmaster;
  font-size: 125%;
  text-indent: 40px;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

@font-face {
  font-family: chessmaster;
  src: url(cmxReg.ttf);
}

.glass-button {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-family: chessmaster;
  text-decoration: none;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  text-align: center;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.glass-button:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.glass-button:active {
  top: 1px;
}

.form-text {
  width: 500px;
  height: 300px;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  outline: none;
  box-shadow: 5px 5px 10px rgba(255,255,255,0.06);
  transition: .3s box-shadow;
}
.form-text:hover {
  box-shadow: 5px 5px 10px rgba(0,0,255,0.3);
}
.form-text:focus {
  box-shadow: 5px 5px 10px rgba(0,255,0,0.3);
}
