{% extends 'base.html' %}


{% block title %}
TopFakeSet::Как это работает?
{% endblock %}


{% block content %}

<p>
    Для построения классификатора был собран и размечен датасет из более чем 57000 новостей на русском языке.<br>
    Принцип работы классификатора:
    <ul>
        <li>магия</li>
        <li>цветок клевера</li>
        <li>заячья лапка</li>
        <li>много данных</li>
    </ul>
    <p>Ссылка на датасет: 
        <a href="https://gitlab.com/Mathematician2000/topfakenews" style="color:white">
        [gitlab]
        </a>
    </p>

    <p><em>Автор работы: <strong style="color:#50c878">Mathematician2000</strong></em></p>
</p>

{% endblock %}
