<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=1) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
</head>
<body>
    <div class="inline">
        <ul class="nav">
            <li><a href="/" class="glass-button">Главная</a></li>
            <li><a href="/what_is_fake/" class="glass-button">Что такое фейк?</a></li>
            <li><a href="/classify/" class="glass-button">Запустить классификатор!</a></li>
            <li><a href="/about/" class="glass-button">Как это работает?</a></li>
        </ul>

        <span class="content">
            {% block content %}
            {% endblock %}
        </span>
    </div>
</body>
</html>
