{% extends 'base.html' %}


{% block title %}
TopFakeSet::Классификатор
{% endblock %}


{% block content %}

<form action="" method="post">
    {{ form.csrf_token() }}
    <p>{{ form.text.label() }}</p>
    <p>{{ form.text(class_="form-text") }}</p>
    <p>{{ form.submit(class_="glass-button") }}</p>
</form>

{% if result == "real_news" %}
    <p>
        Видимо, Вы отыскали <strong style="color:#50c878">достоверную новость</strong>!<br>
        Неужели! Наверное, это было непросто? Сохраните эту новость в трёх экземплярах.
    </p>
{% elif result == "satire" %}
    <p>
        Вероятно, это <strong style="color:#ffd700">сатирическая новость</strong>.<br>
        Обычно они вызывают смех. Если, конечно, юмор уместный...
    </p>
    <p>
            <strong>Сатирические новости (satire)</strong> – разновидность фейковых новостей, созданных в 
        <em>юмористических</em> целях  и содержащих искажённую или выдуманную информацию о реальных событиях, 
        лицах и явлениях. Такие новости часто строятся на базе других свежих новостей, близких по дате публикации.
    </p>
{% elif result == "commentary" %}
    <p>
        Кажется, это обычный <strong style="color:#007dff">комментарий или мнение</strong>.<br>
        Сегодня каждый может высказать своё мнение. Но не стоит относиться к нему, как к абсолютной истине.
    </p>
    <p>
            <strong>Комментарии и мнения (commentary)</strong> – разновидность фейковых новостей, имеющих 
        своей целью <em>субъективное</em> изложение информации о событиях и явлениях действительности, выражение 
        мнения автора о происходящем. Могут отличаться от достоверных новостей чрезмерной эмоциональностью и 
        <em>нарративным</em> стилем изложения.
    </p>
{% elif result == "persuasive_information" %}
    <p>
        Возможно, это пример <strong style="color:#a376ad">нативной рекламы</strong>.<br>
        Вот так и бывает: читаешь новость о компьютерной игре, а в конце покупаешь фен по скидке...
    </p>
    <p>
            <strong>Нативная реклама (persuasive information)</strong> – разновидность фейковых новостей, 
        представляющих собой любые сообщения, распространяемые под видом новостей <em>в рекламных целях</em>. 
        Название этого типа фейков отражает намерение автора предложить услугу или товар в тексте, 
        <em>не связанном</em> с ним напрямую.
    </p>
{% elif result == "citizen_journalism" %}
    <p>
        Наверное, эта новость относится к <strong style="color:#f50029">гражданской журналистике</strong>.<br>
        Делиться новостями с подписчиками – важно. И не менее важно заранее проверять факты...
    </p>
    <p>
            <strong>Гражданская журналистика (citizen journalism)</strong> – разновидность фейковых новостей, 
        источником которых выступает <em>не официальный источник</em>, а блогеры, группы в социальных сетях, 
        фрилансеры и обычные пользователи, ставшие участниками или очевидцами описываемых событий. В эту категорию 
        входят посты неофициальных групп в социальных сетях (часто с приложенным видеороликом), а также 
        новости, опубликованные организациями в специально выделенных разделах, содержащих блоги читателей и форум. 
        Гражданская журналистика относится к фейковым новостям, поскольку возможности проверки фактов авторами 
        этих новостей весьма ограничены, в связи с чем новость может содержать неточности или перейти в разряд 
        <em>субъективных комментариев</em>.
    </p>
{% elif result %}
    <p>
        Произошёл сбой в работе классификатора :( Попробуйте ещё раз!
    </p>
{% endif %}

{% endblock %}
