{% extends 'base.html' %}


{% block title %}
TopFakeSet::Главная
{% endblock %}


{% block content %}

<p>
    На данном сайте представлен классификатор новостей, призванный очистить веб-пространство от фейков!
</p>
<p>
    Чтобы воспользоваться классификатором, необходимо:
    <ul>
        <li>выбрать текст новости, вызвавшей у Вас подозрение</li>
        <li>вставить текст в форму на странице 
            <a href="/classify/" style="color:white">"Запустить классификатор!"</a></li>
        <li>нажать кнопку "Запустить"</li>
        <li>изучить результат работы классификатора</li>
    </ul>
</p>
<p>
    P.S.: Не забудьте предварительно ознакомиться с понятиями, описанными на странице 
        <a href="/what_is_fake/" style="color:white">"Что такое фейк?"</a>.
</p>

{% endblock %}
