{% extends 'base.html' %}


{% block title %}
TopFakeSet::Что такое фейк?
{% endblock %}


{% block content %}

<p>
        Стоит ли запускать классификатор новостей, если неизвестно, чего от него ожидать?
    Разберёмся с основными понятиями, которыми оперирует представленная программа.
</p>
<p>
        <strong>Новость</strong> – текст публицистического стиля, созданный с целью освещения событий 
    и явлений действительности. Характеристиками достоверной новости являются <em>объективность</em> 
    изложения и наличие <em>официального проверенного источника</em> информации.
</p>
<p>
        <strong>Фейковая новость (fake news)</strong> – веб-контент, распространяемый <em>под видом 
    новостей</em>, но содержащий ложную информацию или преследующий <em>иные цели</em>, в отличие 
    от достоверной новости. В частности, фейки могут создаваться для дезинформации, выражения субъективной 
    позиции автора, в рекламных или юмористических целях.<br>
        Фейковые новости можно разделить на <strong>7</strong> ниже описанных классов.
</p>
<p>
        <strong>Ложные новости (false news)</strong> – разновидность фейковых новостей, <em>намеренно</em>
    содержащих ложную информацию об описываемых событиях и явлениях, зачастую в форме «теорий заговора». 
    Проверка информации в таких новостях зачастую затруднена, поскольку статьи публикуются вскоре после 
    освещаемых событий, о точных деталях которых известно слишком мало.
</p>
<p>
        <strong>Поляризованный контент (polarized content)</strong> – разновидность фейковых новостей, 
    в которых представлена информация, выгодная для продвижения конкретных <em>идей и позиций</em>, связанных 
    с описываемыми событиями и явлениями действительности. Часто характеризуется высокой эмоциональностью 
    изложения и содержит окрашенную лексику для воздействия на читателя. Данный вид фейков может не 
    содержать ложной информации, но освещать реальные события <em>однобоко</em>, лишь с выгодной для автора 
    стороны, что противоречит принципу объективности новости.
</p>
<p>
        <strong>Сатирические новости (satire)</strong> – разновидность фейковых новостей, созданных в 
    <em>юмористических</em> целях  и содержащих искажённую или выдуманную информацию о реальных событиях, 
    лицах и явлениях. Такие новости часто строятся на базе других свежих новостей, близких по дате публикации.
</p>
<p>
        <strong>Непреднамеренно искажённые факты (misreporting)</strong> – разновидность фейковых новостей, 
    содержащих ложную информацию об описываемых событиях и явлениях, включая цитаты и статистические данные. 
    В отличие от ложных новостей, данный тип фейков создаётся не с целью обмана или дезинформации, а 
    искажение фактов происходит <em>ненамеренно</em> ввиду плохо развитой системы проверки фактов 
    новостного ресурса.
</p>
<p>
        <strong>Комментарии и мнения (commentary)</strong> – разновидность фейковых новостей, имеющих 
    своей целью <em>субъективное</em> изложение информации о событиях и явлениях действительности, выражение 
    мнения автора о происходящем. Могут отличаться от достоверных новостей чрезмерной эмоциональностью и 
    <em>нарративным</em> стилем изложения.
</p>
<p>
        <strong>Нативная реклама (persuasive information)</strong> – разновидность фейковых новостей, 
    представляющих собой любые сообщения, распространяемые под видом новостей <em>в рекламных целях</em>. 
    Название этого типа фейков отражает намерение автора предложить услугу или товар в тексте, 
    <em>не связанном</em> с ним напрямую.
</p>
<p>
        <strong>Гражданская журналистика (citizen journalism)</strong> – разновидность фейковых новостей, 
    распространителем которых выступает <em>не официальный источник</em>, а блогеры, группы в социальных сетях, 
    фрилансеры и обычные пользователи, ставшие участниками или очевидцами описываемых событий. В эту категорию 
    входят посты неофициальных групп в социальных сетях (часто с приложенным видеороликом), а также 
    новости, опубликованные организациями в специально выделенных разделах, содержащих блоги читателей и форум. 
    Гражданская журналистика относится к фейковым новостям, поскольку возможности проверки фактов авторами 
    этих новостей весьма ограничены, в связи с чем новость может содержать неточности или перейти в разряд 
    <em>субъективных комментариев</em>.
</p>
<p>
        Заметим, что распознавание фейков, относящихся к классам ложных новостей, поляризованного контента 
    или непреднамеренно искажённых фактов, требует наличия отлаженной системы проверки фактов. В то же время 
    фейки оставшихся четырёх типов легче определить, анализируя лишь текст самой новости, его лексический 
    состав, стиль, грамматические признаки и пр. По этим причинам построенный классификатор, принимая 
    на вход произвольный текст на русском языке и воспринимая его в качестве текста новостной статьи, 
    присваивает ему одну из следующих классовых меток:
    <ul>
        <li><strong>real_news</strong> – достоверная новость</li>
        <li><strong>satire</strong> – сатирическая новость</li>
        <li><strong>commentary</strong> – комментарий, мнение</li>
        <li><strong>persuasive_information</strong> – навязчивая нативная реклама</li>
        <li><strong>citizen_journalism</strong> – гражданская журналистика</li>
    </ul>
</p>

{% endblock %}
